
h2 {
  border-bottom: 1px solid rgba(128, 175, 214, 1);
  margin-bottom:5px;
  color:steelblue;
}

.tab {
  border-collapse:collapse; 
  width:100%;
  margin-top:10px;
}

.tabb {
  border-collapse:collapse;
  border-width: 10px;
  width:30%;
  // height: 
  margin-top:10px;
  // float: left;
}

.main {
  font-size: large;
}