---
layout: default
---

<section id="posts" style="padding-bottom: 0">

	<div class="wrapper">
		<div class="posts-tabs">
        <div class="divider">entertainment</div>
        <span class="posts-tab-item btn-round tab01 active" id="01" title="这一部分的内容是我玩各种游戏的记录。可能会有游戏介绍、小技巧等等，当然这些内容会包含剧透。">game</span>
			  <span class="posts-tab-item btn-round tab02" id="02" title="旅行游记">travel</span>
			  <span class="posts-tab-item btn-round tab03" id="03" title="手里可能有相应的资源">culture</span>

        <div class="divider">note & view</div>
			  <span class="posts-tab-item btn-round tab04" id="04">law</span>
			  <span class="posts-tab-item btn-round tab05" id="05" title="关于经济和金融的一些东西">economic</span>
			  <span class="posts-tab-item btn-round tab06" id="06" title="Windows、Ubuntu、Linux、ros以及相关的软件和插件的使用">OS</span>
			  <span class="posts-tab-item btn-round tab07" id="07" title="SLAM、rtk、UWB、二维码等定位方案、工程经验、算法解析、器件选型">定位建图</span>
			  <span class="posts-tab-item btn-round tab08" id="08">AI</span>

			<!-- <span class="posts-tab-item btn tab-ten">备用</span> -->
			{% for i in (1..10) %}
			<!-- <i class="fa fa-paw" aria-hidden="true"></i> -->
			{% endfor %}
		</div>
		<ul class="posts-list tab01-list" id="pag-itemContainer-one">
			{% assign counter-one = 0 %}
			{% for post in site.categories.game %}
			  {% assign counter-one = counter-one | plus: 1 %}
			  <li>
			  	<h2>
			  		<a href="{{ post.url }}" class="post-title">
			  			<span>{{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}</span>
			  		</a>
			  		<span class="date">{{ post.date | date: '%d %b %Y' }}</span>
			  	</h2>
			  	<p>{{ post.excerpt | strip_html }}</p>
			  	<ul class="tags">
			  		{% for tag in post.tags %}
			  		  <li><a href="/tags#{{ tag }}">{{ tag }}</a></li>
			  		  {% unless forloop.last %}
			  		  {% endunless %}
				  	{% endfor %}
				  </ul>
			  </li>
			{% endfor %}
		</ul>
		<ul class="posts-list tab02-list tab-hidden" id="pag-itemContainer-two">
			{% assign counter-two = 0 %}
			{% for post in site.categories.travel %}
			  {% assign counter-two = counter-two | plus: 1 %}
			  <li>
			  	<h2>
			  		<a href="{{ post.url }}" class="post-title">
			  			<span>{{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}</span>
			  		</a>
			  		<span class="date">{{ post.date | date: '%d %b %Y' }}</span>
			  	</h2>
			  	<p>{{ post.excerpt | strip_html }}</p>
			  	<ul class="tags">
			  		{% for tag in post.tags %}
			  		<li><a href="/tags#{{ tag }}">{{ tag }}</a></li>
			  		{% unless forloop.last %}
			  		{% endunless %}
			  		{% endfor %}
			  	</ul>
			  </li>
			{% endfor %}
		</ul>
		<ul class="posts-list tab03-list tab-hidden" id="pag-itemContainer-three">
			{% assign counter-three = 0 %}
			{% for post in site.categories.culture %}
			{% assign counter-three = counter-three | plus: 1 %}
			<li>
				<h2>
					<a href="{{ post.url }}" class="post-title">
						<span>{{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}</span>
					</a>
					<span class="date">{{ post.date | date: '%d %b %Y' }}</span>
				</h2>
				<p>{{ post.excerpt | strip_html }}</p>
				<ul class="tags">
					{% for tag in post.tags %}
					<li><a href="/tags#{{ tag }}">{{ tag }}</a></li>
					{% unless forloop.last %}
					{% endunless %}
					{% endfor %}
				</ul>
			</li>
			{% endfor %}
		</ul>
		<ul class="posts-list tab04-list tab-hidden" id="pag-itemContainer-four">
			{% assign counter-four = 0 %}
			{% for post in site.categories.law %}
			{% assign counter-four = counter-four | plus: 1 %}
			<li>
				<h2>
					<a href="{{ post.url }}" class="post-title">
						<span>{{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}</span>
					</a>
					<span class="date">{{ post.date | date: '%d %b %Y' }}</span>
				</h2>
				<p>{{ post.excerpt | strip_html }}</p>
				<ul class="tags">
					{% for tag in post.tags %}
					<li><a href="/tags#{{ tag }}">{{ tag }}</a></li>
					{% unless forloop.last %}
					{% endunless %}
					{% endfor %}
				</ul>
			</li>
			{% endfor %}
		</ul>
    <ul class="posts-list tab05-list tab-hidden" id="pag-itemContainer-five">
			{% assign counter-five = 0 %}
			{% for post in site.categories.economic %}
			{% assign counter-five = counter-five | plus: 1 %}
			<li>
				<h2>
					<a href="{{ post.url }}" class="post-title">
						<span>{{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}</span>
					</a>
					<span class="date">{{ post.date | date: '%d %b %Y' }}</span>
				</h2>
				<p>{{ post.excerpt | strip_html }}</p>
				<ul class="tags">
					{% for tag in post.tags %}
					<li><a href="/tags#{{ tag }}">{{ tag }}</a></li>
					{% unless forloop.last %}
					{% endunless %}
					{% endfor %}
				</ul>
			</li>
			{% endfor %}
		</ul>
		<ul class="posts-list tab06-list tab-hidden" id="pag-itemContainer-six">
			{% assign counter-six = 0 %}
			{% for post in site.categories.OS %}
			{% assign counter-six = counter-six | plus: 1 %}
			<li>
				<h2>
					<a href="{{ post.url }}" class="post-title">
						<span>{{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}</span>
					</a>
					<span class="date">{{ post.date | date: '%d %b %Y' }}</span>
				</h2>
				<p>{{ post.excerpt | strip_html }}</p>
				<ul class="tags">
					{% for tag in post.tags %}
					<li><a href="/tags#{{ tag }}">{{ tag }}</a></li>
					{% unless forloop.last %}
					{% endunless %}
					{% endfor %}
				</ul>
			</li>
			{% endfor %}
		</ul>
    <ul class="posts-list tab07-list tab-hidden" id="pag-itemContainer-seven">
			{% assign counter-seven = 0 %}
			{% for post in site.categories.Localization %}
			  {% assign counter-seven = counter-seven | plus: 1 %}
			  <li>
			  	<h2>
			  		<a href="{{ post.url }}" class="post-title">
			  			<span>{{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}</span>
			  		</a>
			  		<span class="date">{{ post.date | date: '%d %b %Y' }}</span>
			  	</h2>
			  	<p>{{ post.excerpt | strip_html }}</p>
			  	<ul class="tags">
			  		{% for tag in post.tags %}
			  		<li><a href="/tags#{{ tag }}">{{ tag }}</a></li>
			  		{% unless forloop.last %}
			  		{% endunless %}
			  		{% endfor %}
			  	</ul>
			  </li>
			{% endfor %}
		</ul>

		{% include post-list-pagination.html %}
	</div>
</section>
