{% if counter-one > 10 %}
  <div>
		<div class="page-holder page-holder01" id="page-holder01"></div>
	</div>
{% endif %}
{% if counter == 0 %}
  <div>
		<p>Sorry,no blog！</p>
  </div>
{% endif %}

{% if counter-two > 10 %}
  <div>
		<div class="page-holder page-holder02 tab-hidden" id="page-holder02"></div>
	</div>
{% endif %}
{% if counter == 0 %}
  <div>
		<p>Sorry,no blog！</p>
  </div>
{% endif %}

{% if counter-three > 10 %}
  <div>
		<div class="page-holder page-holder-three tab-hidden" id="page-holder-three"></div>
	</div>
{% endif %}
{% if counter == 0 %}
  <div>
		<p>Sorry,no blog！</p>
  </div>
{% endif %}

{% if counter-four > 10 %}
  <div>
		<div class="page-holder page-holder-four tab-hidden"></div>
	</div>
{% endif %}
{% if counter == 0 %}
  <div>
		<p>Sorry,no blog！</p>
  </div>
{% endif %}

{% if counter-five > 10 %}
  <div>
		<div class="page-holder page-holder-five tab-hidden"></div>
	</div>
{% endif %}
{% if counter == 0 %}
  <div>
		<p>Sorry,no blog！</p>
  </div>
{% endif %}

{% if counter-six > 10 %}
  <div>
		<div class="page-holder page-holder-six tab-hidden"></div>
	</div>
{% endif %}
{% if counter == 0 %}
  <div>
		<p>Sorry,no blog！</p>
  </div>
{% endif %}

{% if counter-seven > 10 %}
  <div>
		<div class="page-holder page-holder-seven tab-hidden"></div>
	</div>
{% endif %}
{% if counter == 0 %}
  <div>
		<p>Sorry,no blog！</p>
  </div>
{% endif %}